/*Configurações basicas*/

.conteudo{
    color: #777;
    background-color: white;
    padding: 50px 80px;
    text-align: justify;
}

h2{
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

body , html{
    margin: 0;
    font-family: 16px "Lato", sans-serif;
    color: #777;
    height: 100%;
    border: 1px solid red;
}

/*Configuraçõs Parallax*/
.caixa1, .caixa2{
    border: 1px solid red;
    height: 100%;
}

.caixa1{
    background-image: url(../imgs/imagem1.jpg);
}

.caixa2{
    background-image: url(../imgs/imagem2.jpg);
}